body {
  font-family: Arial;
  color: white;
}

.left,.right {
  overflow: hidden;
  resize: none;
  width: 48.1vw;
  height: 96vh;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  border: solid black;
  border-radius: 1.9vw;
  outline: none;
}
.left {
  left: 1vw;
}
.right {
  right: 1vw;
}

.editor {
  position: fixed;
  top: 1%;
  left: 1%;
  height: 98%;
  width: 98%;
}