@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

textarea {
  font-size: 1rem;
  font-family:
  'Source Code Pro',
  Consolas,
  "Liberation Mono",
  Menlo,
  Courier,
  monospace;;
}

body {
  background-color: rgba(129, 123, 123, 0.918);
}